name: geocat-examples
channels:
  - conda-forge
dependencies:
  - python>=3.10
  - geocat-comp
  - geocat-datafiles
  - geocat-viz
  - cartopy
  - geographiclib
  - jupyterlab
  - make
  - matplotlib
  - metpy
  - nbsphinx
  - netcdf4
  - numpy
  - pandas
  - pillow
  - pip
  - scikit-learn
  - scipy
  - sphinx<7
  - sphinx-book-theme
  - sphinx-design
  - sphinx-gallery
  - xarray<=2025.10.1
  - dask
  - wrf-python
  - pre-commit
